.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 30px;
}

h1 {
	font-family: "Lucida Console", "Monaco", monospace;
	text-align: center;
}

#calculator {
	margin: 0 auto;
	height: 480px;
	width: 400px;
	background-color: #999;
	font-family: "Source Code Pro";
	border: 3px solid #75B9B8;
	border-radius: 15px 50px;
	box-shadow: 0px 0px 10px -5px rgba(82,80,82,0.89);
}

#input {
	text-align: right;
	height: 50px;
	border: 1px solid #666;
	margin: 30px 78px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 20px -5px rgba(82,80,82,0.89);
}

#input p {
	line-height: 50px;
	font-size: 23px;
	padding-right: 15px;
	letter-spacing: 3px;
}

table {
	margin: 0 auto;
}

td {
	text-align: center;
	width: 70px;
	height: 70px;
}

button {
	width: 60px;
	height: 50px;
	border: 1px solid #666;
	border-radius: 15px;
	color: #fff;
	font-size: 25px;
	font-weight: 300;
	box-shadow: 0px 0px 20px -5px rgba(82,80,82,0.89);
	background: #b3b3b3;
	background: linear-gradient(#b3b3b3, #8d8b8b);

}

button.clear {
	width: 130px;
}

button.zero {
	width: 130px;
}

button.equal {
	height: 120px;
}

button:hover {
	border: 1px solid #8ccccb;
	
}

button:focus {
	outline: 0;
}

button:active {
	font-weight: 400;
}
}
